<%= form_for([current_user, @event], remote: true, html: { class: 'form-horizontal'}) do |f| %>

    <%= render 'shared/error_messages', object: @event %>

    <div class="form-group">
      <%= f.label :name, class: 'col-md-3 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :start_date, 'Date', class: 'col-md-3 control-label' %>
      <div class="col-md-8">
        <%= f.text_field :start_date, value: formatted_date(@event.start_date), class: 'form-control', 'data-provide' => 'datepicker' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :repeat_type, 'Repeat', class: 'col-md-3 control-label' %>
      <div class="col-md-8">
        <%= f.select :repeat_type, Event::REPEATS_OPTIONS, {}, {class: 'form-control' } %>
      </div>
    </div>

    <%= render 'events/repeats_daily_options', form: f %>
    <%= render 'events/repeats_weekly_options', form: f %>
    <%= render 'events/repeats_monthly_options', form: f %>
    <%= render 'events/repeats_yearly_options', form: f %>

    <%= hidden_field_tag 'current_page_date' %>

    <!-- Buttons for the form-->
    <div class="row buttons">

      <% if local_assigns[:show_form_buttons] %>

        <div class="pull-right col-md-2 form_input">
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        </div>

        <% if local_assigns[:show_delete_link] %>

          <div class="pull-right col-md-2 form_input">
            <%= link_to('Remove', user_event_path(current_user, @event), method: :delete,
                        remote: true, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger') %>
          </div>

        <% end %>

        <div class="pull-right col-md-2 form_input">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <% end %>
    </div>

<% end %>