<div id="repeats_yearly_options" class="event_option">
  <div class="form-group ">
    <%= form.label :repeats_every_n_years, 'Every n years', class: 'col-md-3 control-label' %>
    <div class="col-md-8">
      <%= form.number_field :repeats_every_n_years, class: 'form-control', min: 1 %>
      <p>It will be repeat at the same day, in the selected months</p>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :repeats_yearly_month_of_the_year, 'Month of the year', class: 'col-md-3 control-label' %>
    <div class="col-md-8">
      <%= form.collection_check_boxes(:repeats_yearly_month_of_the_year, array_format(Event::MONTHS_OF_THE_YEAR),
                                      :last, :first, include_hidden: false) do |b| %>
        <div class="col-md-4">
          <div class="checkbox">
            <%= b.label { b.check_box + b.text } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>